
<h2>Application Details</h2>
<h3>Name: <%= @application.name %></h3>
<p> Address:<br>
  <%= @application.street %><br>
  <%= @application.city %>,
  <%= @application.state %> 
  <%= @application.zip_code %>
</p>
<p>Description: <%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>

<p>
  Pets on this application:
  <%= @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <br>
  <% end %>
</p>

<h3>Add a Pet to this Application</h3>
<%= render 'pet_search' %>

<% @pets.each do |pet| %>
  <p>Name: <%= pet.name %></p>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <%= f.hidden_field :pet_id, :value => "#{pet.id}" %>
    <%= f.submit "Adopt this Pet" %>
  <% end %>
  <br>
<% end %>

