
<h2>Name: <%= @application.name %></h2>
<p>Address: </p>
<p>
  <%= @application.street %><br>
  <%= @application.city %>,
  <%= @application.state %> 
  <%= @application.zip_code %>
</p>
<p>Description: <%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>