<h1>Admin Portal - Applications</h1>
<hr>

<h2>Pending Application</h2>
<h4>Applicant Name: <%= @application.name %></h4>
<p> Address:<br>
  <%= @application.street %><br>
  <%= @application.city %>,
  <%= @application.state %> 
  <%= @application.zip_code %>
</p>
<p>Application Status: <%= @application.status %></p>
<p>Description: <%= @application.description %></p>

<section>
  Pets on this application:
  <% @application.pet_applications.each do |pet_app| %>
    <p>
      <%= link_to "#{pet_app.pet.name}", "/pets/#{pet_app.pet.id}" %>
      <% if pet_app.status == 'Pending' %>
        <%= button_to 'Approve for Adoption', admin_pet_application_path(pet_app, pet_id: pet_app.pet.id, result: 'approved'), method: :patch %>
        <%= button_to 'Reject Adoption Request', admin_pet_application_path(pet_app, pet_id: pet_app.pet.id), method: :patch %>
      <% end %>
      <% if pet_app.status == 'Approved'%>
        <span>Approved for Adoption!</span>
      <% end %>
      <% if pet_app.status == 'Rejected'%>
        <span>Adoption Request Rejected</span>
      <% end %>
    </p>
    <br>
  <% end %>
</section>